<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size=2 push=10>
        <ion-button color="none" shape="round" class="menu-outline"><ion-icon name="menu-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size=4 class="ion-justify-content-center">
        <ion-button class="top-nav" color="none" shape="round" (click)="dashboard()"><ion-icon src="/assets/dashboard-unselected-icon.svg" class="top-navigation"></ion-icon></ion-button>
        <div class="nav-header-text">Dashboard</div>
      </ion-col>
      <ion-col size=4 class="ion-justify-content-center">
        <ion-button class="top-nav" color="none" shape="round" (click)="userProfile()"><ion-icon src="/assets/profile-unselected-icon.svg" class="top-navigation"></ion-icon></ion-button>
        <div class="nav-header-text">Profile</div>
      </ion-col>
      <ion-col size=4 class="ion-justify-content-center">
        <ion-button class="top-nav" color="none" shape="round" (click)="symptoms()"><ion-icon src="/assets/health-report-selected-icon.svg" class="top-navigation"></ion-icon></ion-button>
        <div class="nav-header-text">Symptoms</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content slot="fixed" scrollY=false>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <h1 class="page-content-title">
          Log Symptoms
        </h1>
      </ion-col>
    </ion-row>
    <form [formGroup]="symptomsFormGroup" (ngSubmit)="symptoms()">
      <ion-row>
        <ion-col class="ion-justify-content-center">
          <ion-item>
            <ion-datetime formControlName="observed_date" [value]="today" [min]="minDate" [max]="maxDate"
              [dayShortNames]="customDayShortNames"
              displayFormat="DDD MMM DD, YYYY"
              monthShortNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec"
              (ionChange)="reloadSymptoms($event)"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-self-center size-md=8 push-md=2 size-lg=6 push-lg=3>
          <div padding>
            <ion-item>
              <ion-label>Fever</ion-label>
              <ion-input formControlName="fever" type="text" inputmode="decimal" placeholder="- -" slot='end' autofocus=true min=95 max=110 required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Weakness</ion-label>
              <ion-toggle formControlName='weakness' color="primary" slot="end"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Dry Cough</ion-label>
              <ion-toggle formControlName='dry_cough' color="primary" slot="end"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Sore Throat</ion-label>
              <ion-toggle formControlName='sore_throat' color="primary" slot="end"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Runny Nose</ion-label>
              <ion-toggle formControlName='runny_nose' color="primary" slot="end"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Difficulty in Breathing</ion-label>
              <ion-toggle formControlName='difficulty_in_breathing' color="primary" slot="end"></ion-toggle>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md=8 push-md=2 size-lg=6 push-lg=3>
          <ion-row>
            <!-- <ion-col size=6 class="ion-justify-content-center">
              <ion-button color="buttons ion-float-left" shape="round" size="medium" [disabled]="formGroup.invalid" class="unselected">Cancel</ion-button>
            </ion-col> -->
            <ion-col size=6 class="ion-justify-content-center">
              <ion-button color="buttons ion-float-left" shape="round" size="medium" type="submit" >Save</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-justify-content-center" size=6>
      <ion-button class="bottom-nav qr-code-icon" color="none" shape="none" (click)="qrCode()"></ion-button>
    </ion-col>
    <ion-col class="ion-justify-content-center" size=6 style='border-left: 1px solid white'>
      <ion-button class="bottom-nav qr-code-scanner-icon" color="none" shape="none" (click)="scanCode()"></ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
