<ion-grid>
  <ion-header>
    <ion-row class="menu-container">
      <ion-col size="10">
        <div>
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-button class="menu-outline" color="none" shape="none"><ion-icon name="menu-outline"></ion-icon></ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="menu-icon-container">
      <ion-col size="1">
        <div>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="nav-header-icon">
          <ion-button class="top-navigation-icon" color="none" shape="none" (click)="dashboard()"><ion-icon src="/assets/dashboard-unselected-icon.svg" class="bigger top-navigation"></ion-icon></ion-button>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="nav-header-icon">
          <ion-button class="top-navigation-icon" color="none" shape="none" (click)="userProfile()"><ion-icon src="/assets/profile-unselected-icon.svg" class="bigger top-navigation"></ion-icon></ion-button>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="nav-header-icon">
          <ion-button class="top-navigation-icon" color="none" shape="none" (click)="symptoms()"><ion-icon src="/assets/health-report-selected-icon.svg" class="bigger top-navigation"></ion-icon></ion-button>
        </div>
      </ion-col>
      <ion-col size="2">
        <div></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <div>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="nav-header-text">
          Dashboard
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="nav-header-text">
          Profile
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="nav-header-text">
          Symptoms
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
        </div>
      </ion-col>
    </ion-row>
  </ion-header>
</ion-grid>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <h1>
          Today's Symptoms
          <!-- <ion-datetime><ion-datetime> -->
        </h1>
      </ion-col>
    </ion-row>
    <form #form="ngForm" (ngSubmit)="register(form)">
      <ion-row>
        <ion-col align-self-center size-md=8 push-md=2 size-lg=6 push-lg=3>
          <div padding>
            <ion-item>
              <ion-label>Fever</ion-label>
              <ion-input name="fever" type="text" placeholder="98.6" slot='end' autofocus=true min=95 max=110 ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Weakness</ion-label>
              <ion-toggle name='weakness' color="primary"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Dry Cough</ion-label>
              <ion-toggle name='dry_cough' color="primary"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Sore Throat</ion-label>
              <ion-toggle name='sore_throat' color="primary"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Runny Nose</ion-label>
              <ion-toggle name='runny_nose' color="primary"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Difficulty in Breathing</ion-label>
              <ion-toggle name='difficulty_in_breathing' color="primary"></ion-toggle>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md=8 push-md=2 size-lg=6 push-lg=3>
          <ion-row>
            <ion-col size=6 class="ion-justify-content-center">
              <ion-button color="buttons ion-float-left" shape="round" size="medium" [disabled]="form.invalid" class="unselected">Cancel</ion-button>
            </ion-col>
            <ion-col size=6 class="ion-justify-content-center">
              <ion-button color="buttons ion-float-left" shape="round" size="medium" type="submit" >Save</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col size="2">
      <div>
      </div>
    </ion-col>
    <ion-col size="2">
      <div>
        <ion-button class="qr-code-icon" color="none" shape="none" (click)="qrCode()"></ion-button>
      </div>
    </ion-col>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size="2" style="text-align: center; color: #ffffff;">
      <div>|<br/>|<br/>|
      </div>
    </ion-col>
    <ion-col size="1">
      <div>
      </div>
    </ion-col>
    <ion-col size="2">
      <div>
        <ion-button (click)="scanCode()" class="qr-code-scanner-icon" color="none" shape="none"></ion-button>
      </div>
    </ion-col>
    <ion-col size="2">
      <div>
      </div>
    </ion-col>
  </ion-row>
</ion-footer>
