<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size=2 push=10>
        <ion-button color="none" shape="round" class="menu-outline"><ion-icon name="menu-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size=4 class="ion-justify-content-center">
        <ion-button class="top-nav" color="none" shape="round" (click)="dashboard()"><ion-icon src="/assets/dashboard-unselected-icon.svg" class="top-navigation"></ion-icon></ion-button>
        <div class="nav-header-text">Dashboard</div>
      </ion-col>
      <ion-col size=4 class="ion-justify-content-center">
        <ion-button class="top-nav" color="none" shape="round" (click)="userProfile()"><ion-icon src="/assets/profile-selected-icon.svg" class="top-navigation"></ion-icon></ion-button>
        <div class="nav-header-text">Profile</div>
      </ion-col>
      <ion-col size=4 class="ion-justify-content-center">
        <ion-button class="top-nav" color="none" shape="round" (click)="symptoms()"><ion-icon src="/assets/health-report-unselected-icon.svg" class="top-navigation"></ion-icon></ion-button>
        <div class="nav-header-text">Symptoms</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <h1>
          My Profile
        </h1>
      </ion-col>
    </ion-row>
    <form #form="ngForm" (ngSubmit)="register(form)">
      <ion-row>
        <ion-col align-self-center size-md=8 push-md=2 size-lg=6 push-lg=3>
          <div padding>
            <ion-item>
              <ion-label>Age</ion-label>
              <ion-input  name="Age" type="text" placeholder="30" slot='end' autofocus=true min=1 max=100 ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Gender</ion-label>
              <ion-select placeholder='Select Gender'>
                <ion-select-option value="male">Male</ion-select-option>
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="transgender">Transgender</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Postal/Zip Code</ion-label>
              <ion-input name="zipCode" type="text" placeholder="19380" slot='end' ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Country</ion-label>
              <ion-select placeholder='Select Country' slot='end'>
                <ion-select-option value="usa">USA</ion-select-option>
                <ion-select-option value="india">India</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Status</ion-label>
              <ion-select placeholder='Select Status' slot='end'>
                <ion-select-option value="healthy">Healthy</ion-select-option>
                <ion-select-option value="infected">Tested Positive</ion-select-option>
                <ion-select-option value="in_contact_with_infected">In contact with Positive</ion-select-option>
                <ion-select-option value="recovered">Recovered</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md=8 push-md=2 size-lg=6 push-lg=3>
          <ion-row>
            <ion-col size=6 class="ion-justify-content-center">
              <ion-button color="buttons ion-float-left" shape="round" size="medium" [disabled]="form.invalid" class="unselected">Cancel</ion-button>
            </ion-col>
            <ion-col size=6 class="ion-justify-content-center">
              <ion-button color="buttons ion-float-left" shape="round" size="medium" type="submit" >Save</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-justify-content-center" size=6>
      <ion-button class="bottom-nav qr-code-icon" color="none" shape="none" (click)="qrCode()"></ion-button>
    </ion-col>
    <ion-col class="ion-justify-content-center" size=6 style='border-left: 1px solid white'>
      <ion-button class="bottom-nav qr-code-scanner-icon" color="none" shape="none" (click)="scanCode()"></ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
