/*.disclaimer-title {
  color: #f7ba7b;
  text-align: center;
  font-size: 28px;
}

.disclaimer-icon {
  margin: 5% 30%;
  max-width: 150px;
  max-height: 150px;
}

.disclaimer-content {
  font-size: 16px;
  color: #ffffff;
  margin: 20px;
  text-align: justify;
}

.disclaimer-buttons-section {
  margin: 10%;
}
*/