<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size=2 push=10>
        <ion-button color="none" shape="round" class="menu-outline"><ion-icon name="menu-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size=4 class="ion-justify-content-center">
        <ion-button class="top-nav" color="none" shape="round" (click)="dashboard()"><ion-icon src="/assets/dashboard-selected-icon.svg" class="top-navigation"></ion-icon></ion-button>
        <div class="nav-header-text">Dashboard</div>
      </ion-col>
      <ion-col size=4 class="ion-justify-content-center">
        <ion-button class="top-nav" color="none" shape="round" (click)="userProfile()"><ion-icon src="/assets/profile-unselected-icon.svg" class="top-navigation"></ion-icon></ion-button>
        <div class="nav-header-text">Profile</div>
      </ion-col>
      <ion-col size=4 class="ion-justify-content-center">
        <ion-button class="top-nav" color="none" shape="round" (click)="symptoms()"><ion-icon src="/assets/health-report-unselected-icon.svg" class="top-navigation"></ion-icon></ion-button>
        <div class="nav-header-text">Symptoms</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content slot="fixed">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-center">
        <h1 class="page-content-title">
          Health Dashboard
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=1>
      </ion-col>
      <ion-col size=4 class="ion-justify-content-center dashboard-card-background danger">
        <ion-row>
          <ion-col><div class="dashboard-card-header" #priorityLevel>P3</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><div class="dashboard-card-text">Priority Level</div></ion-col>
        </ion-row>
      </ion-col>
      <ion-col size=2>
      </ion-col>
      <ion-col size=4 class="ion-justify-content-center dashboard-card-background warning">
        <ion-row>
          <ion-col><div class="dashboard-card-header" #symptomsCount>0</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><div class="dashboard-card-text">Current symptoms</div></ion-col>
        </ion-row>
      </ion-col>
      <ion-col size=1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=1>
      </ion-col>
      <ion-col size=10 class="ion-justify-content-center dashboard-card-background warning">
        <ion-row>
          <ion-col><div class="dashboard-card-header" #exposureScore>0</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><div class="dashboard-card-text">Exposure Score</div></ion-col>
        </ion-row>
      </ion-col>
      <!-- <ion-col size=2>
      </ion-col>
      <ion-col size=4 class="ion-justify-content-center dashboard-card-background warning">
        <ion-row>
          <ion-col><div class="dashboard-card-header">55</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><div class="dashboard-card-text">Connections in last 2 weeks</div></ion-col>
        </ion-row>
      </ion-col> -->
      <ion-col size=1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12>
        <ion-card>
          <ion-card-header>
            <div class="dashboard-card-header">Fever report</div>
          </ion-card-header>
          <ion-card-content>
            <canvas #feverCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12>
        <ion-card>
          <ion-card-header>
            <div class="dashboard-card-header">Weakness report</div>
          </ion-card-header>
          <ion-card-content>
            <canvas #weaknessCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12>
        <ion-card>
          <ion-card-header>
            <div class="dashboard-card-header">Dry cough report</div>
          </ion-card-header>
          <ion-card-content>
            <canvas #dryCoughCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12>
        <ion-card>
          <ion-card-header>
            <div class="dashboard-card-header">Sore throat report</div>
          </ion-card-header>
          <ion-card-content>
            <canvas #soreThroatCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12>
        <ion-card>
          <ion-card-header>
            <div class="dashboard-card-header">Runny nose report</div>
          </ion-card-header>
          <ion-card-content>
            <canvas #runnyNoseCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=12>
        <ion-card>
          <ion-card-header>
            <div class="dashboard-card-header">Difficulty in Breathing report</div>
          </ion-card-header>
          <ion-card-content>
            <canvas #difficultyInBreathingCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="ion-justify-content-center" size=6>
      <ion-button class="bottom-nav qr-code-icon" color="none" shape="none" (click)="qrCode()"></ion-button>
    </ion-col>
    <ion-col class="ion-justify-content-center" size=6 style='border-left: 1px solid white'>
      <ion-button class="bottom-nav qr-code-scanner-icon" color="none" shape="none" (click)="scanCode()"></ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
