/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-grid {
  width: 100%;
  margin: 0;
  padding: 0;
}

ion-header {
  top: 0px;
  left: 0px;
  height: 24%;
  background: transparent linear-gradient(107deg, #21CEDD 0%, #10D0B2 100%) 0% 0% no-repeat padding-box;
  border-radius: 0 0 24px 24px;
  opacity: 1;
  padding-top: 2%;
}

ion-title {
  background: transparent linear-gradient(107deg, #21CEDD 0%, #10D0B2 100%) 0% 0% no-repeat padding-box;
  margin: 0;
  padding: 10% 0;
  text-align: center;
  font: SemiBold 24px/35px Poppins;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

ion-content {
  font-size: 12px;
  color: #222222;
  margin: 20px;
  text-align: justify;
  position: absolute;
  z-index: 11;
  top: 20%;
  left: 3%;
  width: 94%;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 13px;
  opacity: 1;
  overflow: hidden;
  height: 67%;
}

ion-footer {
  background: transparent linear-gradient(98deg, #1ECED6 0%, #10CAAE 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  height: 12%;
  padding: 2%;
}

ion-button {
  background: transparent linear-gradient(107deg, #21CEDD 0%, #10D0B2 100%) 0% 0% no-repeat padding-box;
  --box-shadow: none;
  border-radius: 10px;
  opacity: 1;
  box-shadow: none;
}

ion-button.unselected {
  background: none;
  color: #21CEDD;
  border: 2px solid #21CEDD;
  opacity: 1;
}

.page-content {
  margin: 20px;
}

.header-md::after {
  background: none;
}

.page-content-title {
  color: #21CEDD;
  opacity: 1;
}

ion-button.top-navigation-icon {
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
  min-height: 60px;
  min-width: 60px;
  margin: 0;
  padding: 0;
}

ion-icon.top-navigation {
  opacity: 1;
  min-height: 60px;
  min-width: 60px;
}
ion-col {
  display: grid;
  padding: 0;
  margin: 0;
}

ion-col .nav-header-icon {
  margin: 0;
  justify-self: center;
}

ion-col .nav-header-text {
  text-align: center;
  font-size: 12px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-weight: bold;
}

ion-row.menu-container {
  height: 20px;
}

ion-row.menu-icon-container {
}

ion-button.menu-outline {
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
}

ion-item {
  --border-width: 0px;
}

ion-input {
  background: #F6F6F6 0% 0% no-repeat padding-box;
  border: 0.25px solid #D6D6D6;
  border-radius: 9px;
  opacity: 1;
  text-align: right;
  --padding-end: 0;
}

ion-list {
  width: 50%;
  padding: 0;
}

ion-datetime {
  --placeholder-color: #21CEDD;
  color: #21CEDD;
}

// Nav buttons styling
ion-button.bottom-nav {
  opacity: 1;
  min-height: 50px;
  min-width: 50px;
  --box-shadow: none;
  border-radius: 0;
  box-shadow: none;
}
ion-button.qr-code-icon {
  background: transparent url('/assets/qr-code-icon.svg') 0% 0% no-repeat padding-box;
}
ion-button.qr-code-selected-icon {
  background: transparent url('/assets/qr-code-selected-icon.svg') 50% 0% no-repeat padding-box;
}
ion-button.qr-code-scanner-icon {
  background: transparent url('/assets/qr-code-scanner-icon.svg') 0% 0% no-repeat padding-box;
}
ion-button.qr-code-scanner-selected-icon {
  background: transparent url('/assets/qr-code-scanner-selected-icon.svg') 0% 0% no-repeat padding-box;
}

ion-button.top-nav {
  opacity: 1;
  min-height: 60px;
  min-width: 60px;
  border-radius: 0;
  --box-shadow: none;
  box-shadow: none;
  background: transparent;
}
ion-button.dashboard-icon {
  background: transparent url('/assets/dashboard-icon.svg') 0% 0% no-repeat padding-box;
}

ion-button.dashboard-selected-icon {
  background: transparent url('/assets/dashboard-selected-icon.svg') 25% 25% no-repeat padding-box;
}
ion-button.profile-icon {
  background: transparent url('/assets/profile-icon.svg') 0% 0% no-repeat padding-box;
}

ion-button.profile-selected-icon {
  background: transparent url('/assets/profile-selected-icon.svg') 25% 25% no-repeat padding-box;
}

ion-button.health-report-icon {
  background: transparent url('/assets/health-report-icon.svg') 0% 0% no-repeat padding-box;
}

ion-button.health-report-selected-icon {
  background: transparent url('/assets/health-report-selected-icon.svg') 50% 40% no-repeat padding-box;
}