<ion-grid>
  <ion-header>
    <ion-row>
      <ion-toolbar>
        <ion-title>Your QR code</ion-title>
      </ion-toolbar>
    </ion-row>
  </ion-header>
</ion-grid>

<ion-content class="qr-content">
  <ion-row>
    <ion-col size="12">
      <div>
        <ngx-qrcode
          [(qrc-value)] = "encodeData"
          [(qrc-element-type)] = "elementType"
          qrc-class="qrc-class">
          </ngx-qrcode>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
<ion-content class="qr-details">
  <ion-row>
    <div class="qr-content">
    This QR code is your unique id. When you meet someone within 6 feet distance, do not forget to scan thier QR code.
    </div>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div>
        <ion-button color="buttons ion-float-left" shape="round" size="medium" (click)="scanCode()" class="qr-screen-buttons">
          Scan QR Code
        </ion-button>
     </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div>
        <ion-button color="buttons ion-float-left" shape="round" size="medium" (click)="encodedText()" class="qr-screen-buttons unselected">Symptoms</ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <div>
        <ion-button color="buttons ion-float-left" shape="round" size="medium" (click)="userProfile()" class="qr-screen-buttons unselected">
          Back
        </ion-button>
     </div>
    </ion-col>
  </ion-row>
</ion-content>